@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px){
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ebebeb;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #0f4162;
  box-shadow: 0 0 10px 5px grey;
}

.App-logo{
  height: 100%;
}

.apply-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #0f4162;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}

.apply-button:hover{
  transform: scale(1.15) translateX(-10px);
  transition: transform 0.3s ease-in-out;
  background-color: #347190
}

.apply-text{
  font-weight: 700;
  font-variation-settings:
    "wdth" 100;
  font-size: 16px;
}

.apply-additional-info{
  font-weight: 400;
  font-variation-settings:
    "wdth" 100;
  font-size: 12px;
  margin-top: 5px
}

a {
  text-decoration: none;
}

.Main-Content{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  flex-wrap: wrap;
  background-color: #ebebeb;
}

.Main-logo{
  width: 450px;
  padding: 20px;
  min-width: 300px;
}

.Main-Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  max-width: 500px;
  text-align: center;
}

.Main-Info > h1{
  font-weight: 900;
  font-size: 40px;
}

.Main-Info > p{
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}

.values-missions{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.we, .mission, .vision{
  max-width: 800px;
  text-align: center;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px grey;
  background-color: #ebebeb;
}

.Values-mission-ico-container{
  height: 150px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0 10px;
}

.Values-mission-icon{
  max-height: 100%;
  max-width: 100%;
}

.we h1, .mission h1, .vision h1{
  font-weight: 900;
  font-size: 40px;
  padding: 20px 10px 0 10px;
  color:#0f4162;
}

.we p, .mission p, .vision p{
  font-weight: 400;
  font-size: 20px;
  padding: 10px 10px 20px 10px;
}

.Services{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #114164;
  width: 100%;
}

.Services > h1{
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.Services p{
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

.Services-Box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.Tax, .Accounting, .Consulting{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  background-color: #347190;
  width: 350px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  color: #ffffff;
}

.Service-Box-inner-Text{
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.Service-Box-inner-Text > h2{
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.Service-Box-inner-Text > ul{
  font-weight: 400;
  font-size: 15px;
  list-style-type: none;
}

.Service-Box-inner-Text > ul > li{
  margin-bottom: 7px;
  text-align: left;
  width: 100%;
  display: flex;
}

.Service-Box-inner-Image{
  height: 150px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Service-Box-icon{
  max-height: 100%;
  max-width: 100%;  
}

.services-check{
  color: #03c924;
  margin-right: 5px;
}

.why-choose-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background: #114164;
  background: linear-gradient(40deg, rgba(17, 65, 100, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(184, 184, 184, 1) 100%);
  width: 100%;
}

.why-choose-us > h1{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px 20px;
}

.why-choose-us > ul{
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  padding: 5px 20px;
}

.registered-with{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #000000;
  width: 100%;
}

.registered-with > h1{
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
}

.registered-with-logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.registered-with-logos > div{
  width: 187.6px;
  min-width: 187.6px;
}

.sait-logo, .sars-logo, .ciba-logo, .sage-logo{
  max-height: 50px;
  margin: 0 10px;
  padding: 5px 0;
}

.Faqs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #ebebeb;
  width: 100%;
}

.Faqs-container > h1{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}

.Faqs-container > p{
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}

.Faqs{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 100%;
  max-width: 1000px;
}

.Faq{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  border: 1px solid #0f4162;
}

.Faq-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.Faq-header:hover{
  cursor: pointer;
}

.Faq-header > h2{
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.Faq-body{
  width: 100%;
  padding: 0 20px 20px 20px;
}

.Faq-body > p{
  font-weight: 300;
  font-size: 15px;
  text-align: left;
}

.Faq-divider{
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  border-top: 1px solid #0f4162;
}

.Footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #0f4162;
  width: 100%;
  color: #ffffff;
}

.Footer > h1{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}

.Footer > p{
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  max-width: 600px;
}

.Contact-Us{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.Contact-Us > h2{
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding-bottom: 10px;
}

.contacts{
  display: flex;
  flex-direction: column;
}

.Contact-Us a{
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  padding-bottom: 5px;
  text-decoration: none;
  color: #ffffff;
}

.Contact-Us a:hover{
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
}

.Contact-Us > a > i{
  margin-right: 10px;
}

.copyright, .creator{
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.creator > a{
  text-decoration: none;
  color: #ffffff;
}

.apply-page-conatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: #114164;
  background: linear-gradient(40deg, rgba(17, 65, 100, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(184, 184, 184, 1) 100%);
  width: 100%;
}

.HBC{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.HB{
  background: none;
  font-size: 30px;
}

.HB:hover{
  cursor: pointer;
}

.HBC-Arrow{
  margin-right: 10px;
}

.HBC-Div{
  width: 100%;
  height: 1px;
  margin-top: 10px;
  border-top: 1px solid #0f4162;
}

.AML-container {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.AML{
  max-width: 100%;
  max-height: 100%;
}

.apply-page-conatiner > h1{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}

.apply-page-conatiner > p{
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  max-width: 600px;
}

.apply-page-conatiner > form{
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  background-color: rgb(245, 245, 245, 0.5);
  border: 1px solid #0f4162;
  border-radius: 10px;
}

.Apply-Form-Info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-width: 300px;
  height: 100%;
  padding-right: 20px;
  border-right: 1px solid #0f4162;
}

.Apply-Form-Info > img{
  width: 100px;
}

.Apply-Form-Info > h2{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.Apply-Form-Info > span{
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 20px;
}

.Apply-Form-Info > div{
  width: 100%;
  height: 350px;
  overflow-y: auto;
  font-size: 13px;
}

.Apply-Form-Info div h3{
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
}

.Apply-Form-Info div p{
  font-size: 13px;
  text-align: left;
}

.Apply-Form-Info div ul{
  margin-bottom: 10px;
  list-style-type: circle;
  list-style-position: outside;
}

.Apply-Form-Info div ul li{
  margin-bottom: 2px;
  font-weight: 200;
  font-size: 13px;
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs > div{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding-left: 20px;
  width: 100%;
}

.Date-And-Time{
  grid-template-columns: auto auto auto;
}

.IGI{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.IGI-Full{
  grid-column: 1 / span 2;
}

.IGI-Full-3{
  grid-column: 1 / span 3;
}
.IGI > input, .IGI > select{
  width: 100%;
  height: 50px;
  border: 1px solid #0f4162;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  background: none;
}

.IGI

.IGI select option{
  background: none;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}

.additional-info{
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.AI-text{
  display: block;
  width: 100%;
  height: 150px;
  border: 1px solid #0f4162;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  background: none;
  resize: none;
}

.ABC{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.AB{
  grid-column: 1 / span 2;
  width: 50%;
  margin: auto;
}

.cal-container {
  background: #E4E4E4;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.calendar {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 400px;
  background: #F5F5F5;
  box-shadow: 0px 5px 5px #ccc;
  border-radius: 10px;
  padding: 20px;
}

.cal-head {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.cal-head h3 {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  background: #fff;
  padding: 13px 25px;
  border-radius: 10px;
}

.cal-head #cal-prev, 
.cal-head #cal-next {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  border: 0;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.cal-head #cal-prev:hover, 
.cal-head #cal-next:hover,
.cal-head #cal-prev:focus, 
.cal-head #cal-next:focus {
  opacity: 0.8;
  box-shadow: 3px 0px 3px #ccc;
}

.cal-head #cal-prev:before, 
.cal-head #cal-next:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: #141414;
  border-width: 2px 2px 0 0;
}

.cal-head #cal-prev {
  left: 20px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.cal-head #cal-next {
  right: -20px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.days, .dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.days li, .dates li {
  width: calc(100% / 7);
  text-align: center;
  font-size: 18px;
}

.days {
  margin-bottom: 15px;
}

.days li {
  font-weight: 500;
  color: #219653;
  text-transform: uppercase;
}

.dates li span {
  background: #fff;
  width: 100%;
  height: 50px;
  display: inline-block;
  padding-top: 15px;
  border-radius: 10px;
  border: 2px solid #F5F5F5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dates li span:hover {
  color: #219653;
}

.dates li.old span {
  background: transparent;
  color: #BDBDBD;
}

.dates li.today span {
  background: #219653;
  color: #fff;
}

.Apply-Footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #0f4162;
  width: 100%;
  color: #ffffff;
}

.flc > img{
  max-height: 100px;
  max-width: 100px;
}

.Apply-Footer > p{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  max-width: 600px;
}

.Apply-Footer > span{
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
}

.Apply-Footer > span > a{
  text-decoration: none;
  color: lightgray;
}